<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
            <meta charset="utf-8">
            <title>NBA Page</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        </head>
    <body>
        <div class="main">
            <div class="header">
                <h1>NBA</h1>
            </div>
            
            <div id="west-score-box">
                <div>
                    <p>Away Team: {{ away_team }}</p>
                    <p>Home Team: {{ home_team }}</p>
                    <p>Broadcast: {{ broadcast }}</p>
                </div>
                <div>
                    <p>{{home_team}}: <span id="away-score">{{ away_score }}</span></p>
                    <p>{{away_team}}: <span id="home-score">{{ home_score }}</span></p>
                    <p>Time Clock: <span id="time-clock">{{ time_clock }}</span></p>
                </div>
            </div>
            
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    function updateScores() {
                        $.ajax({
                            url: "/get_live_scores",  // Update the route to match the Flask route
                            type: "GET",
                            success: function(data) {
                                // Update the scores on the page
                                $("#home-score").text(data.home_score);
                                $("#away-score").text(data.away_score);
                                $("#time-clock").text(data.time_clock);
                            }
                        });
                    }
                    setInterval(updateScores,120000);
                });
            </script>

    </body>
</html>